# Default ignored files
/shelf/
/.idea/workspace.xml
.DS_Store
.idea
.classpath
.project
.settings/
# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
/.mvn
/.maven
/.repository
.flattened-pom.xml
/1 ADVANCED JAVA
/0 BASIC JAVA/WEEK 2/Exercise1.2.1/nbproject/private/
/0 BASIC JAVA/WEEK 2/Exercise1.2.1/build/
/0 BASIC JAVA/WEEK 2/Second Class - DAY 6/nbproject/private/
/0 BASIC JAVA/WEEK 2/Exercise1.2.2/nbproject/private/
/0 BASIC JAVA/WEEK 2/Exercise1.2.2/build/
/0 BASIC JAVA/WEEK 2/Class 5 DAY 6 - 1º Practical Exercises/Exercise1.2.1/build/
/0 BASIC JAVA/WEEK 2/Class 5 DAY 6 - 1º Practical Exercises/Exercise1.2.1/nbproject/private/
/0 BASIC JAVA/WEEK 2/Class 5 DAY 6 - 1º Practical Exercises/Exercise1.2.2/build/
/0 BASIC JAVA/WEEK 2/Class 5 DAY 6 - 1º Practical Exercises/Exercise1.2.2/nbproject/private/
/0 BASIC JAVA/WEEK 2/Class 6 DAY 7 - 2º Practical Exercises/Exercise1/target/
/0 BASIC JAVA/WEEK 2/Class 6 DAY 7 - 2º Practical Exercises/Exercise2/target/
/0 BASIC JAVA/WEEK 2/Class 7 DAY 8 - 3º Practical Exercises/Exercise1/target/
/0 BASIC JAVA/WEEK 2/Class 7 DAY 8 - 3º Practical Exercises/Exercise11/target/
/0 BASIC JAVA/WEEK 2/Exercise1/target/
/0 BASIC JAVA/WEEK 2/Class 7 DAY 8 - 3º Practical Exercises/Exercise2/target/
