# Default ignored files
/shelf/
/.idea/workspace.xml
.DS_Store
.idea
/1 ADVANCED JAVA
/0 BASIC JAVA/WEEK 2/Exercise1.2.1/nbproject/private/
/0 BASIC JAVA/WEEK 2/Exercise1.2.1/build/
/0 BASIC JAVA/WEEK 2/Second Class - DAY 6/nbproject/private/
/0 BASIC JAVA/WEEK 2/Exercise1.2.2/nbproject/private/
/0 BASIC JAVA/WEEK 2/Exercise1.2.2/build/
/0 BASIC JAVA/WEEK 2/Class 5 DAY 6 - 1º Practical Exercises/Exercise1.2.1/build/
/0 BASIC JAVA/WEEK 2/Class 5 DAY 6 - 1º Practical Exercises/Exercise1.2.1/nbproject/private/
/0 BASIC JAVA/WEEK 2/Class 5 DAY 6 - 1º Practical Exercises/Exercise1.2.2/build/
/0 BASIC JAVA/WEEK 2/Class 5 DAY 6 - 1º Practical Exercises/Exercise1.2.2/nbproject/private/
/0 BASIC JAVA/WEEK 2/Class 6 DAY 7 - 2º Practical Exercises/Exercise1/target/
/0 BASIC JAVA/WEEK 2/Class 6 DAY 7 - 2º Practical Exercises/Exercise2/target/
